.headline {
    font-family: "Montserrat";
    text-align: center;
    font-weight: 400;
    padding-top: 50px;
    font-size: 50px;
}

.byline {
    font-family: "Montserrat";
    text-align: center;
    font-weight: 100;
    padding-top: 10px;
    font-size: 24px;
}

.centered-divider {
    border: none;
    border-top: 3px solid #000;
    width: 75%;
    margin: 30px auto;
}